@model LabaManageSys.WebUI.ViewModels.User.EditViewModel
@{
    ViewBag.Title = "Панель: редактирование пользователя";
}
<div class="panel panel-primary">
    <div class="panel-heading">

        @if (Model.User.Name != null && Model.User.Name != string.Empty)
        {
            <h3> Редактируем пользователя - "@Model.User.Name"</h3>
        }
        else
        {
            <h3> Добавляем нового пользователя</h3>
        }
    </div>
    @Html.ValidationSummary(false)
    @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <div class="panel-body">
            <p>@Html.Hidden("UserId", Model.User.UserId)</p>
            <p>@Html.Label("Введите имя")</p>
            <p>@Html.TextBox("Name", Model.User.Name)</p>
            <p>@Html.Label("Введите email")</p>
            <p>@Html.TextBox("Email", Model.User.Email)</p>
            <p>@Html.Label("Выберите роль")</p>
            <p>@Html.DropDownList("RoleId", new SelectList(Model.Roles, "RoleId", "Name", Model.Roles.FirstOrDefault(_ => _.RoleId == Model.User.RoleId).RoleId))</p>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
             @Html.ActionLink("Отменить изменения и вернуться к списку", "List", null, new
        {
            @class = "btn btn-default"
        })
        </div>
    }
</div>
