<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/datepicker.min.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LabaManageSystem", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-left">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Пользователи", "List", "User", new { area = "" }, new { @class = "btn" })
                }
                @if (User.IsInRole("Administrators"))
                {
                    @Html.ActionLink("Роли", "List", "Role", new { area = "" }, new { @class = "btn" })
                }
                @if (User.IsInRole("Teachers"))
                {
                    @Html.ActionLink("Учебный план", "List", "TeachPlan", new { area = "" }, new { @class = "btn" })
                    @Html.ActionLink("Журнал посещаемости", "List", "Journal", new { area = "" }, new { @class = "btn" })

                }
            </div>
            <div class="navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink(User.Identity.Name,"")
                    @Html.ActionLink("Выход", "Logoff", "Account", new { area = "" }, new { @class = "btn" })
                }
                else
                {
                    @Html.ActionLink("Логин", "Login", "Account", new { area = "" }, new { @class = "btn" })
                    @Html.ActionLink("Регистрация", "Register", "Account", new { area = "" }, new { @class = "btn" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div>
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/datepicker.min.js"></script>
    @RenderSection("scripts", false)
    <script type="text/javascript">
        $('#Dates').datepicker({
            // Можно выбрать тольо даты, идущие за сегодняшним днем, включая сегодня
            inline: true,
            timepicker: true,
            startHour: 9,
            minHours: 9,
            maxHours: 18,
            minDate: new Date()
        })
         // Сделаем неактивными воскресенье и субботу
        var disabledDays = [0, 6];

        $('#Dates').datepicker({
            onRenderCell: function (date, cellType) {
                if (cellType == 'day') {
                    var day = date.getDay(),
                        isDisabled = disabledDays.indexOf(day) != -1;

                    return {
                        disabled: isDisabled
                    }
                }
            }
        })

    </script>

</body>
</html>