@model LabaManageSys.WebUI.ViewModels.Role.EditViewModel
@{
    ViewBag.Title = "Панель: редактирование роли";
}
<div class="panel panel-primary">
    <div class="panel-heading">  
        @if (Model.Role.Name != null && Model.Role.Name != "")
        {
            <h3> Редактируем роль - "@Model.Role.Name"</h3>
        }
        else
        {
            <h3> Добавляем новую роль</h3>
        }
    </div>
    @Html.ValidationSummary()
    @using (Html.BeginForm("Edit", "Role", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <div class="panel-body">
            @Html.Hidden("RoleId", Model.Role.RoleId)
            <p>@Html.Label("Введите название роли")</p>
            <p>@Html.TextBox("Name", Model.Role.Name)</p>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить изменения и вернуться к списку", "List", null, new
       {
           @class = "btn btn-default"
       })
        </div>
    }
</div>
